spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/portfolio?createDatabaseIfNotExist=true&serverTimezone=UTC}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: false
server:
  port: 8080
  servlet:
    context-path: /api
cors:
  allowed-origins: ${ALLOWED_ORIGINS:http://localhost:3000}
