version: "3.8"
services:
    db:
        image: postgres:15
        environment:
            POSTGRES_DB: pagination_db
            POSTGRES_USER: root
            POSTGRES_PASSWORD: MdAshikur123+
        ports:
            - "5432:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data
volumes:
    pgdata:
