version: '3.8'

services:
  spring:
    build: .
    container_name: springboot-app
    ports:
      - "8080:8080"

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    ports:
      - "55000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - spring
